.Ab-contenido{
    display: flex;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    text-align: center;
}
.Ab-contenido h1{
    font-size: 4rem;
    color: var(--color4--);

}
.Ab-contenido h4{
    font-size: 2rem;
    color: var(--color4--);
}

.Ab-intro{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 1rem 0 1rem;
}
.Ab-intro h5{
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
    width: auto;
 
}
.Ab-intro img{
    height: 25rem;
    filter: brightness(70%); 
}
.cosas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tallas_B{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tallas_B h2{
    font-size: 2.2rem;
    font-weight: bolder;
}
.tallas_B p{
    font-size: 1.7rem;
    font-weight: bold;
}
.TB{
    text-align: justify;
}

.introDiv{
    width: auto;
    height: auto;
    
    position: relative;
    text-align: center;
 
}
.introh5{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    
    font-family: 'Poppins', sans-serif;
    color: var(--color1--);
    
}

@media only screen and (max-width:815px){
    .Ab-intro{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width:990px){
    .imgg{
        display: none;
    }
    .imgab{
        display: none;
    }
    .Ab-contenido{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Ab-intro{
        margin-top: 2rem;
        width: 100%;
        height:20rem;
    }
    .introDiv{
        width: 100%;  
        height: auto;      
    }
    .introh5{   

        color: black;        
    }
    .introh5 h5{
    
        font-size: 1.5rem;
    }
    
}

@media only screen and (max-width:375px){
    .Ab-intro{
        
        height:39rem;
    }

}
