*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE;
}

:root{
    --color1--: #FFFFFF;
    --color2--: #F49D1A;
    --color3--: #FFE15D;
    --color4--: #6C28FE;
    --color5--: rgb(100, 50, 31);
    --color6--: #ff3a3a;
    --color7--: #34afe4;
    --color8--: #ca37ff;
    --color9--: #3176ff;
    --color10--: #EEEEEE;
}
