/*********--------------------------*/

.detalles {
    display: flex;
    flex-wrap: wrap;
    align-items:self-start;
    justify-content: space-evenly;

    width: 95%;
    height: 51rem;
    margin-top: 3rem;
    padding-top: 3rem;
    
    border-radius: 2rem;

    background-color: rgb(235, 227, 241);
    background-color: var(--color1--);
    font-family: 'Poppins';


    box-shadow: 0px 2px 5px 10px rgba(235,227,241,1);
    -webkit-box-shadow: 0px 2px 5px 10px rgba(235,227,241,1);
    -moz-box-shadow: 0px 2px 5px 10px rgba(235,227,241,1);
}
.seleccionar select{
    font-family: 'Poppins';
    font-weight: 700;
}
.detalles .articulo {
    height: 25rem;
    width: 25rem;
  
    margin-bottom: 1rem;
}

.detalles h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.detalles select {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}
.articulos{
    width: 30rem;
    display: flex;
}
.articuloC1{
    height: 20rem;
    width: 35rem;
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5rem;
    align-items:start;
    text-align:start;
}

.articuloC2{
    height: auto;
    width: 20rem;
    
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-end;

    padding-right: 1.5rem;
    
}
.articuloC2 p{
   font-size: 2.3rem;
   color: var(--color4--);
   font-weight: 900;
   margin-top: -1.3rem;
  
}
.articuloC2 input{
    margin-bottom: 0.01rem;
    margin-right: 0.3rem;
   
    width: auto;
}
/*.marcar[type="checkbox"] {
    transform: scale(1.8); /* Escala del checkbox, puedes ajustar el valor para cambiar el tamaño 
  }*/

.marcar .comprarr{
    height: 4rem;
    width: auto;
}
.oculto{
    display: none;
}

  /* Estilos para la ventana emergente */
  .ventana-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .ventana-emergente img {
    width: 23rem;
    height: 23rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .ventana-emergente p {
    margin: 5px 0;
  }
  
  .ventana-emergente label {
    display: block;
    width: 23rem;
    margin-top: 10px;
  }
  
  .ventana-emergente input,
  .ventana-emergente select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ventana-emergente .cerrar-ventana {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
  }
 
  #cantidad-input{
    height: 4rem;
    padding: 0.1rem;
    width: 60px; /* Adjust the width as needed */
    padding: 5px;
    font-size: 16px;

    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  #cantidad-input::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

@media only screen and (min-width:579px){
    .detalles {
        justify-content: space-around;
        height: 31rem;
    }
    .ventana-emergente label {
        display: block;
        width: 45rem;
        margin-top: 10px;
      }

}

@media only screen and (min-width:1366px){


}


  

 