footer{
    background-color:var(--color4--);
    height: 20rem;
    width: 100%;

    
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: -2rem;
  
}

footer p{
    margin-top: 3rem;
    margin-left: 3rem;

    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  
    color: var(--color1--);
}
.contac{
    align-self: center;
    margin-left: -0.3rem;
}
.Estructura{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.redes{
    display: flex;
    flex-direction: column;
    
}
.red{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    
}
.red img{
    height: 2.5rem;
    width: auto;

}
.red a{
    text-decoration: none;

    color: var(--color1--);
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.info a{
    text-decoration: none;

    color: var(--color1--);
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}
.compra{
    display: flex;
    align-items: center;
}
.compra img{
    height: 3.5rem;
    width: auto;
}
.compra a {
   text-decoration: none;

   color: var(--color1--);
   font-size: 1.5rem;
   font-family: 'Poppins', sans-serif;

   margin-left: 1rem;
}




