
 
  /* Estilos del buscador */
  .buscar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Estilos para ocultar productos */

  
  .oculto {
    display: none;
  }
  .filtro{
    display: none;
  }
  


/* Estilo para los resultados del buscador */
.resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;   

  height: auto;
  margin-bottom: 8rem;
}

.NO{
  display: none;
}

.NOC{
  display: none;
}


